.debugging-buttons {
  margin-top: var(--medium);
  font-family: monospace;
}

.debugging-buttons button:nth-of-type(1) {
  margin-right: var(--small);
}

.debugging-buttons button {
  background-color: var(--gray);
}
