.die {
  background: var(--background);
  color: var(--dark);
  font-weight: bold;
  width: var(--medium);
  margin: var(--x-small);
  padding: var(--x-small);
  text-align: center;
  cursor: pointer;
}

.selected {
  background: var(--gray);
}

.die:hover {
  filter: brightness(50%);
}
