ol {
  text-align: left;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-left: 0;
  list-style: none;
  counter-reset: custom-counter;
}

ol li {
  counter-increment: custom-counter;
}

ol li::before {
  content: counter(custom-counter) '. ';
  font-family: 'Metamorphous', serif;
  font-size: 18px;
}

table {
  margin-top: var(--medium);
  margin-bottom: var(--large);
  border-collapse: collapse;
  text-align: center;
}

table,
th,
td {
  border: solid 1px var(--gray);
}

th {
  font-size: 24px;
  font-family: 'Metamorphous', serif;
  padding: var(--x-small) var(--small);
}

td {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 2px;
}
