#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  margin-bottom: var(--medium);
}

.buttons-wrapper {
  margin-top: var(--large);
}

.dice-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--medium);
  padding-top: var(--medium);
}

:disabled {
  cursor: not-allowed;
}

button {
  margin-left: var(--small);
}
