:root {
  font-family: 'Metamorphous', serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000000;
  --background: #dbd3be;
  --light: #f2e9d3;
  --dark: #392b15;
  --gray: gray;
  /* --button: #ff8383; */
  --button: #c9d98e;
  --link: #284d80;

  --x-small: 8px;
  --small: 16px;
  --medium: 32px;
  --large: 64px;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--x-small);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--small);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--button);
}
