.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--light);
  margin: 5% auto;
  padding: var(--medium);
  width: 80%;
}

.close {
  float: right;
  font-size: var(--small);
}

.flex-wrap {
  display: flex;
}

ol {
  text-align: left;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-left: 0;
  list-style: none;
  counter-reset: custom-counter;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

ol li {
  counter-increment: custom-counter;
}

ol li::before {
  content: counter(custom-counter) '. ';
  font-family: 'Metamorphous', serif;
  font-size: 18px;
}

table {
  margin-top: var(--medium);
  margin-bottom: var(--large);
  border-collapse: collapse;
  text-align: center;
}

table,
th,
td {
  border: solid 1px var(--gray);
}

th {
  font-size: 24px;
  font-family: 'Metamorphous', serif;
  padding: var(--x-small) var(--small);
}

td {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 2px;
}
